{% extends 'base.html' %}
{% block content %}
<h2>Available Doctors</h2>
{% for doc in doctors %}
  <div class="card mb-2">
    <div class="card-body">
      <h5>{{ doc.user.get_full_name }}</h5>
      <form method="post" action="{% url 'request_consultation' doc.id %}">
        {% csrf_token %}
        <button class="btn btn-primary">Request Consultation</button>
      </form>
    </div>
  </div>
{% empty %}
  <p>No doctors are currently available.</p>
{% endfor %}


<hr>
<h2>Consultation History</h2>
{% for consult in consults %}
  <div class="card mb-3">
    <div class="card-body">
      <p><strong>Date:</strong> {{ consult.created_at|date:"M d, Y" }}</p>
      <p><strong>Doctor:</strong> Dr. {{ consult.doctor.get_full_name }}</p>
      <p><strong>Status:</strong> {{ consult.status }}</p>

      {% if consult.prescription %}
        <a href="{% url 'view_prescription_pdf' consult.prescription.id %}" class="btn btn-outline-success btn-sm">
          View Prescription
        </a>
      {% else %}
        <span class="text-muted">No prescription</span>
      {% endif %}
    </div>
  </div>
{% empty %}
  <p>You have no past consultations.</p>
{% endfor %}
{% endblock %}
